<section id="case-interior-gone-girl-section-1" class="full-height">
	<%= image_tag 'case-interior-gonegirl-intro.png', class: 'case-interior-gonegirl-intro' %>
</section>

<section id="case-interior-gone-girl-section-2">
	<div class="container">
		<div class="row marginTop200">
			<div class="col-sm-5 text-left">
				<h2><span class='light'>ABOUT</span><br> <strong>GONE GIRL</strong></h2>
				<hr>
				<br><br>
				<p class="lead">Gone Girl is a psychological thriller from David Fincher and Twentieth Century Fox. Starring Ben Affleck and Rosamund Pike, the critically acclaimed adaptation of a #1 New York Times best-seller was the first film ever made using a 6K post-production workflow.</p>
			</div>
			<div class="col-sm-7">
				<br><br><br><br>
				<%= image_tag 'bigdrive.png', class: 'big-drive-img' %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<p class="quote"><i>“We have used OpenDrives on several high-profile, cannot-fail projects including the first Studio 6K movie, Gone Girl. OpenDrives got us seemingly unachievable speeds and efficiencies. We like ambitious collaborators and their team fit the bill awesomely.”</i></p>
				<p><small>Peter Mavromates, Post Production Supervisor</small></p>
			</div>
		</div>
	</div>
</section>

<section id="case-interior-gone-girl-section-3">
	<div class="container">
		<div class="row marginTop100">
			<div class="col-sm-4 marginTop50">
				<%= image_tag 'iphone-gonegirl.png' %>
			</div>
			<div class="col-sm-8">
				<h2><span class="light">THE </span><strong>CHALLENGE</strong></h2>
				<hr>
				<br><br>
				<p class="lead">Shooting Gone Girl in 6K meant Fox and Fincher needed a storage system that could meet demanding requirements. Playback of a single stream of 6K DPX files requires 1.6 gigabytes/second, performance no traditional centralized storage system could meet. Additionally, they needed to be able to apply real-time transformations on reframes, as cropping and reimporting would slow down their aggressive workflow.</p>
				<p class="lead">Additionally, Fox required concurrent editing, VFX and compositing of different shots without transferring back and forth between local workstation storage and the networked share. This meant the entire film had to be kept online and centralized throughout the creative process. To accommodate various disparate workflows and the comfort level of the creatives, the storage system had to work seamlessly with Mac and Windows devices.</p>
			</div>
		</div>
	</div>
</section>










	<div class="container">
		<div class="row">
			<div class="col-md-12">

			</div>
		</div>
	</div>