<% @page_title = 'Case Interior - Joke Productions' %>
<section id="case-interior-joke-productions-section-1">
	<%= image_tag 'case-interior-joke-intro.png', class: 'marginTopIntro' %>
</section>

<section id="case-interior-joke-productions-section-2">
	<div class="container">
		<div class="row text-right marginBottom100">
			<div class="col-sm-6 col-sm-offset-6 col-xs-12">
				<h2><span class="light">ABOUT</span> JOKE <br class="hide-in-sm-mobile">PRODUCTIONS</h2>
				<hr class="hr-anim-550">
				<br><br>
			</div>
			<div class="col-sm-12">
				<p class="lead">Joke Productions believes great entertainment makes you laugh, cry, think and come back for more. Crafting rich stories with unforgettable characters is how they do that. Whether putting the "real" in follow-docs, producing large-scale competition reality TV shows or making award-winning documentaries, Joke Productions’ passion is creating motion pictures that move you.</p>
			</div>
		</div>
	</div>
</section>

<section id="case-interior-joke-productions-section-3" class="case-interior-section3">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<p class="quote">“It’s not simply that Open Drives makes incredibly fast, stable storage solutions. It’s that they understand data and how to tune their products to support demanding media production.”</p>
				<p><small>Shane Willis, Senior Editor</small></p>
			</div>
		</div>
		<div class="row marginBottom100">
			<div class="col-sm-5 col-xs-6">
				<%= image_tag 'case-interior-joke-macbook.png', class: 'joke-macbook' %>
			</div>
			<div class="col-sm-7 col-xs-12 text-right">
				<h2><span class="light">THE</span> CHALLENGE</h2>
				<hr class="hr-anim-600">
				<br><br>
				<p class="lead">Joke Productions needed to create a new editorial and visual effects workflow using Adobe Premiere and After Effects. They needed a shared storage environment that would allow multiple workstations to access source material simultaneously and edit high-resolution content in real-time.</p>
			</div>
		</div>
	</div>
</section>

<section id="case-interior-joke-productions-section-4" class=" case-interior-section4">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<h2><span class="light">THE</span> SOLUTION</h2>
				<hr class="hr-anim-500">
				<br><br>
				<p class="lead">OpenDrives delivered the all-flash Avalanche system to empower Joke Productions’editors and visual effect artists to work on multiple projects across a shared infrastructure.</p>
			</div>
		</div>
	</div>
</section>

<section id="case-interior-joke-productions-section-5" class="case-interior-section5">
		<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-sm-6">
				<h2><span class="light">THE</span> RESULTS</h2>
				<hr class="hr-anim-450">
				<br><br>
				<p class="lead">Joke Productions was able to accelerate and streamline their workflows to deliver finished television shows ahead of deadline. The team had consistently fast access to media files and project files in a collaborative shared storage environment. Joke increased their throughput to each work station by 400% while reducing IT costs by half.</p>
			</div>
			<div class="col-sm-6 marginTop100">
				<%= image_tag 'bigdrive.png' %>
			</div>
		</div>
	</div>
</section>



