<% @page_title = 'Careers - Node.js Software Developer' %>

<%= render 'job_opening', 
	job_title: '<span class="light">NODE.JS</span> SOFTWARE DEVELOPER',
	job_description: 'Do you have a passion for keeping up-to-date with current standards in use? And are you able to quickly master new technologies? Perfect! Then it sounds like you might make a great fit with us. At Open Drives we are building next generation data storage solutions for high-performance workflows.',
	job_description_body: 'To achieve this, we’re always on the look out for talented Node.js software developers to help us. Once here, you’ll work on the development of the server backend that interacts with the media applications and storage hardware. Part of your job will be to ensure that our customers’ requirements are always kept in mind during the full lifetime of a project.',
	essential_function: '<span class="light">OVERALL, WE HAVE THREE THINGS</span> <br> WE\'D LOVE YOU TO DO, AND DO VERY WELL:',
	essentials: [
								"Develop and improve our products",
								"Deliver great products and provide input into future software features and",
								"Implement projects for our clients."
							],
	requirements: [
									"4+ years of working experience in software development, of which 2+ years in node.js.",
									"Experience with building scalable public/private APIs.",
									"Expert knowledge of JavaScript.",
									"Experience with RESTful, Microservices, Async I/O applications.",
									"Experience developing applications with HTML/CSS/JS.",
									"Expert knowledge of web technologies (HTML/CSS).",
									"Expert knowledge of Back End build and development toolsand Strong proficiency with multiple backend technologies.",
									"Expert knowledge of relational databases and SQL-like query languages.",
									"Knowledge of non-relational databases. (hbase, redis)",
									"Ability to produce tested code.",
									"Ability to write high-performance, reusable code.",
									"Knowledge of Functional and Object Oriented JavaScript Patterns and Backend frameworks.",
									"Passion for performance, debugging and benchmarking.",
									"Understanding of large file media workflows.",
									"Software design knowledge and experience.",
									"An affinity with and capability for clarifying complex problems and structures.",
									"An ability to solve problems creatively.",
									"Knowledge of AWS and other cloud platforms.",
									"And we’d love it if you’re already active in the node.js open source community."
								],
	qualities_title: '<span class="light">AND SINCE WE\'RE PEOPLE, NOT ROBOTS,</span><br> WE\'D ALSO LOVE THESE HUMAN QUALITIES...',
	qualities: 	[
								"You don’t give up at the first obstacle – you take on a commitment and see it through to completion.",
								"You’re a communicative problem solver; pragmatic and methodical.",
								"Your programming has accuracy, because you keep an eye out for details.",
								"You’re good in a team, but also fine with being independent.",
								"You’re curious enough to keep an eye on new technology while never taking the status quo for granted.",
								"And you’re adept at balancing the priorities of meeting deadlines, with delivering well designed systems in the long term."
							] %>


