<% @page_title = 'Careers - Sales' %>

<%= render 'job_opening', 
	job_title: 'SALES',
	job_description: 'Open Drives is an innovative manufacturer of next generation high-performance data storage systems purpose-built for the extremely demanding throughput requirements of large file, multiple concurrent user workflows. Founded in 2011 by CTOs and Chief Engineers, Open Drives delivers unparalleled speed and reliability at a price point that is on budget. The company has tripled in size every year since 2011 and services several Fortune100 customers.',
	job_description_body: 'We are seeking sales over-achievers with excellent communication skills and a consistent track record of exceeding quota. Successful applicants possess a storage industry reputation for competence, professionalism, integrity, and a passion for winning.<br><br>Under limited direction meet and exceed assigned quota, build territory revenue, prospect and close named accounts against established competition by leveraging channel partners and through individual initiative.<br><br>Establish and nurture relationships with all levels of channel partner and customer organizations as appropriate, departmental through line of business and CxO. Assimilate specific vertical market background, requirements, and infrastructure attributes, and apply this knowledge to sell Isilon solutions.<br><br>Effectively prospect new accounts and develop new business through networking, lead generation and cold calling.<br><br>Drive account strategies and coordinate team-selling efforts with partners to close business on a quarterly and annual basis. Manage multiple partners, customers and opportunities, maintaining accurate forecasting and clear management communication. Drive referenceable customer satisfaction in all assigned accounts.',
	essential_function: '<span class="light">PRINCIPAL DUTIES</span> <br> AND RESPONSIBILITIES',
	essentials: [
								"Achieve both your quarterly and annual sales goals and objectives.",
								"Prospect and network to generate new leads.",
								"Take ownership and manage all areas of the business relationship between Open Drives and your patch.",
								"Develop multi-level relationships within your accounts to maximize revenue opportunities and establish Open Drives as a strategic, long term partner/trusted advisor.",
								"Execute on an effective account/opportunity management and business planning process which is supported and influenced by a team of Senior Executives, Product Management, Engineering, Professional Services and Sales Engineers.",
								"Develop a deep understanding of both the customer and competitive landscape, enabling a business dialogue to be conducted when necessary with C level contacts, in a manner and language that clearly demonstrates a high level of competence in these areas.",
								"Provide accurate and timely forecasts.",
								"Represent Open Drives in a professional manner at all times.",
								"Develop, maintain and share a Customer Account Plan for your top strategic accounts, ensure these are current, factual and easily accessible by the team.",
								"Attend appropriate training to develop relevant knowledge and skills."
							],
	requirements: [
									"Minimum 5-7 years experience selling enterprise storage.",
									"Consistent track record of exceeding quota while maintaining customer loyalty.",
									"Strong experience in making new sales at an enterprise level.",
									"Experienced in selling complex IT solutions.",
									"Activity based selling with a consultative approach.",
									"Proven capability to overachieve targets YoY.",
									"Ability to articulate business relevance of product information to support the sales cycle.",
									"Adept negotiator who can create long term relationships and business value to our customers, with a proven track record of achievement at the enterprise and channel level.",
									"Excellent presentation and relationship skills.",
									"Adaptability, flexibility, energy and integrity.",
									"Must be a team player – ability to interact with both the direct and indirect teams both within Open Drives and our partners.",
									"Strong relationship building skills.",
									"Solid judgment and decision making capability.",
									"Driven and, focused, good planning skills.",
									"Strong customer centric approach.",
									"Results driven with win/win attitude and high energy levels.",
									"Integrity and Trust in all business dealings.",
									"Must be highly, articulate and have natural rapport building skills at the most senior level.",
									"Proven ability to learn. (i.e. gain product and marketing knowledge)",
									"A thorough understanding of the Channel model and IT market business.",
									"Strong communication, listening and influencing skills with the ability to interact with senior level contacts within major businesses."
								],
	qualities: 	nil %>