<% @page_title = 'Careers - VP Engineering' %>

<%= render 'job_opening', 
	job_title: '<span class="light">VP</span> ENGINEERING',
	mail_subject: 'VP Engineering',
	job_description: 'At Open Drives, our development team is still small and needs to move quickly. We are looking for innovative thinkers who are willing to learn and who can solve the technical challenges at Open Drives with creativity and persistence. You will provide vision, design and project oversight, create and implement strategy, align resources with the functional teams to build high quality and market leading products and services in a rapidly evolving marketplace. Leads the teams in ensuring high availability and support for existing services.',
	job_description_body: 'The VP, Engineering will have a major impact on Open Drives on a daily basis. This role will be an executive leader for hardware and software products and services. You will provide technical leadership, guidance and vision for the engineering teams that are building data storage hardware and software capabilities and applications for enterprise use cases. Open Drives needs to iterate quickly and refactor frequently, writing well-structured and elegant code to solve critical business needs and to provide the best possible experience for Open Drives customers. You will work closely with product and engineering leadership in a collaborative and energetic environment to build product roadmaps and evolve our engineering organization. You will also have an opportunity to engage with key customers and strategic partners on exciting new projects.',
	essential_function: '<span class="light">PRINCIPAL DUTIES</span> <br> AND RESPONSIBILITIES',
	essentials: [
								"Provide leadership, guidance and vision for engineering teams building a set of differentiated capabilities.",
								"Manage multiple projects across a variety of technologies, collaborate cross-functionally, within the organization and beyond, to coordinate dependencies and interactions.",
								"Accountable for product delivery, performance, stability, and quality.",
								"Build and refine organizational strategy for highly effective and motivated teams.",
								"Coach and mentor managers and senior engineers.",
								"Partner with product management, strategic partners, and key customers to create the strategy, prioritize projects, and define feature requirements.",
								"Make hard tradeoffs with business outcomes in mind.",
								"Build architectural strategy and technical roadmap aligned with product strategy.",
								"Evangelize great design and engineering practices, help guide engineering vision at Open Drives.",
								"Manage a product development organization consisting of design and development leads, architects, quality assurance teams, and their management personnel working on highly complex hardware and software products.",
								"Assign resources and prioritize, monitor and track activities. Requires intra- and inter-departmental interaction with peers and senior management across multiple sites. Create and manage departmental budget in consultation with peers and senior management.",
								"Be one of the key members of Product Approval Board that evaluates new Product offerings/enhancements. Perform cost/benefit analysis of these proposed projects and present to senior management.",
								"Be accountable for, refine and continuously improve the effectiveness of software development life-cycle process.",
								"Identify, select and adopt technologies that help with directly addressing business requirements in order to most efficiently develop solutions and services that meet these needs.",
								"Act as overall technical project manager on highly complex development activities working closely with Product Management in support of major and/or strategic initiatives.",
								"Direct the activities of personnel at multiple job functions/levels. This includes Sr. Managers, Directors, Sr. Directors and Principal Engineers. Responsible for personnel management - performance reviews, goals/objective setting, hiring and building of teams and their direct management that are spread across different time zones and geographic locations."
							],
	requirements: [
									"Passion for data storage technologies.",
									"Passion for solving hard problems for customers.",
									"Passion for leading teams, setting vision, and developing highly functioning organizations.",
									"Demonstrated success leading the development, delivery, and support of complex products and services.",
									"Experience leading multiple simultaneous product development efforts and technology initiatives in a collaborative, high energy environment.",
									"Deep understanding of media workflows and IT infrastructure.",
									"Experience building REST APIs.",
									"Experience with FZS, Illumos, and other programming languages.",
									"Excellent communication skills.",
									"4-year degree from a top-notch Computer Science or comparable program 8-10 years engineering management experience, including managing managers."
								],
	qualities_title: '<span class="light">NICE-TO-HAVE</span> SKILLS',
	qualities: 	[
								"Experience building enterprise software or business critical systems.",
								"Experience with enterprise content management software.",
								"Experience managing multiple teams and delivering on deadline and on budget."
							] %>



