<div class="container faq_support_doc_div">
	<div class="container marginTopBottom100">
		<ul class="nav nav-tabs nav-justified chrome-padding-top">
		  <li>
		  	<p class="lead bold">have questions? <span class="regular">find<br> answers in our frequently<br> ask questions.</span></p>
		  	<br>
		  	<a  href="/resources/#resources-section-6#faqs" class="faqs-tab">
		  		<%= image_tag 'resources-faqs-logo.png' %>
		  		<br><br>
		  		<p class="regular">faqs</p>
		  	</a>
		  </li>
		  <li>
		  	<p class="lead regular">we don't just say we're the<br> best.<span class="bold"> we have the facts</span> to <br>back it up.</p>
		  	<br>
		  	<a href="/resources/#resources-section-6#support-document" class="support-document-tab">
		  		<%= image_tag 'resources-support-document-logo.png' %>
		  		<br><br>
		  		<p class="regular">documentation</p>
		  	</a>
		  </li>
		  <li>
		  	<p class="lead regular">just getting started with<br> OpenDrives?<span class="bold">  see us in <br>action</span>.</p>
		  	<br>
		  	<a href="/resources/#resources-section-6#videos" class="videos-tab">
		  		<%= image_tag 'resources-videos-logo.png' %>
		  		<br><br>
		  		<p class="regular">videos</p>
		  	</a>
		  </li>
		</ul>
	</div>
</div>