<footer>
	<div class="col-xs-2 text-right">
		<%= image_tag 'footer-OD-logo.png' %>
	</div>
	<div class="col-xs-4">
		<%= link_to((fa_icon 'facebook', class: 'facebook-logo'), 'https://www.facebook.com/OpenDrives/?fref=photo', target: '_blank') %>
		<%= link_to((fa_icon 'twitter'), 'https://twitter.com/opendrives?lang=en', target: '_blank') %>
		<%= link_to((fa_icon 'linkedin'), 'https://www.linkedin.com/company/open-drives', target: '_blank') %>
		<br>
		<p>3522 HAYDEN AVENUE | CULVER CITY | CA 90232</p>
		<p><a href="tel:+13106598999">+1 (310) 659-8999</a></p>
		<p><a href="mailto:sales@opendrives.com">SALES@OPENDRIVES.COM</a></p>
	</div>  
	<div class="col-xs-6 text-center">
		<p class="lead"><span>SIGNUP FOR OUR NEWSLETTER</span> <strong>SUBSCRIBE</strong></p>
	</div> 
</footer>