/*html, body {
	font-size: 13px;
}

.plus-icon, .plus-icon-blue, .plus-circle-icon, .angle-right-icon {
	font-size: 1.7em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	position: absolute;
	right: 10%;
	top: -8.5px;
}

.plus-circle-icon {
	border: 1px solid rgba(0, 0, 0, 0);
	height: 23px;
	width: 23px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 100%;
	top: 17%;
	.plus-adjust {
		position: relative;
		top: -12px;
		left: 0.6px;
	}
}*/