<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= simple_form_for(@icon, html: { multipart: true, class: "dropzone"}) do |f|  %>
			  <div class="fallback">
			    <%= f.file_field :image %><br>
			    <%= f.submit "Upload" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>
